openai-whisper
sounddevice
pynput
pyautogui
pyperclip
numpy
torch
PySide6
pyyaml
winshell
pywin32
pillow
faster-whisper
huggingface-hub
tokenizers
requests
charset-normalizer
pycaw
comtypes
psutil
cx_Freeze
