openai-whisper
numba>=0.59.0
sounddevice
pynput
pyautogui
pyperclip
numpy
torch
PySide6
pyyaml
winshell
pywin32
pillow
faster-whisper
huggingface-hub
tokenizers
requests
charset-normalizer
chardet
pycaw
comtypes
psutil
cx_Freeze
soundfile

